body {
  overflow-x: hidden;
  text-align: center;
  background: hsl(0, 0%, 18.82%);
}

.main-image {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  width: 100vw;
  position: relative;
  height: 100vh;
}

.filter:after {
  left: 0;
  content: "";
  background-color: rgba(0, 0, 0, 0.4);
  display: block;
  height: 100%;
  position: absolute;
  width: 100%;
  top: 0;
  z-index: 1;
}
button > a {
  color: white;
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
}
.card-body {
  height: 20rem;
  display: flex;
  flex-direction: column;
}
.card-body > button {
  position: absolute;
  bottom: 0;
  left: 0;
}
#tickets {
  color: aliceblue;
}
#title {
  color: aliceblue;
  margin-top: 3rem;
  margin-bottom: 3rem;
}
.subtitle {
  margin-top: 2rem;
}

img {
  width: 160px;
  height: 90px;
}
